save-exact=true
registry=https://nexus.morosystems.cz/content/groups/npm/
always-auth=true

//if you have 401 error, please see
//https://wiki.morosystems.cz/pages/viewpage.action?pageId=76320985#NastaveníNPMprovývojvjavascriptu-Nastavenínašínexusnpmproxy
